body {
    background: url("https://media.giphy.com/media/Eyk50nAfYxeH6/giphy.gif") no-repeat center center fixed;
    background-size: cover;
    background-color: #cccccc;
    font-size: 60px;
    color: fuchsia;
    font-family: Comic Sans MS;
    width: 99%;
    height: 100vh;
    cursor: url("https://s3-eu-west-1.amazonaws.com/ent.svcs.social/img/softtip-transparency.png"), zoom-in;
}

div.wrapper {
    position: absolute;
}

div.example2 {
    font-size: 30px;
    color: limegreen
}

div.example3 {
    font-size: 40px;
    color: tomato;
}

div.teams {
    float: left;
    font-size: 20px;
    color: orange;
}

div.form {
    float: left;

}

form {
    font-size: 30px;
    color: aqua;
    margin-top: 10px;
    margin-left: 200px;
    display: inline-block;
}

input {
    width: 250;
    height: 50;
    font-size: 30px;
    color: coral;
    display: inline;
    border-width: 3px;
    border-color: darkgoldenrod
}

#checkbox {
    zoom: 1.3;
}
/* 
#bullseye {
    width: 166px;
    height: 166px;
    background: url(https://images-na.ssl-images-amazon.com/images/I/81yg%2BNBsfVL._SY355_.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 4px 25px;
} */

input {
    width: 250;
    height: 50;
    font-size: 30px;
    color: coral;
    display: inline;
    border-width: 3px;
    border-color: darkgoldenrod;
}

.blink_text {

    text-shadow: 2px 3px 5px tomato;

    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;

    color: gold;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


#bullseye {
    background: url(https://images-na.ssl-images-amazon.com/images/I/81yg%2BNBsfVL._SY355_.jpg);
    width: 166px;
    height: 166px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
    padding: 30px;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}